html,
body {
  background-color: #242424;
  width: 100%;
  height: 100%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.buckle {
  border: 2px solid #888888;
  border-radius: 5px;
}

.color-container {
  display: grid;
  /* grid-auto-flow: column; */
  grid-template-columns: 1fr 2fr;
  padding: 20px 5px;
}

.color-container > div {
  min-width: 300px;
}
.color-container > :first-child {
  border-right: 2px solid #888888;
  padding-right: 5px;
  margin-right: 5px;
}

.color-input-box,
.color-result-box {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.color-input-box input {
  font-size: 14px;
}
.color-input-box input:focus {
  outline-offset: 5px;
}
.color-result-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.color-result {
  width: 200px;
  height: 200px;
  display: grid;
  place-items: center;
}

.color-result p {
  font-weight: 900;
  margin: 0;
  letter-spacing: 1px;
  text-transform: lowercase;
  mix-blend-mode: exclusion;
}

.contrast {
  mix-blend-mode: difference;
}

input[type="color"] {
  cursor: pointer;
}

.btn {
  border: 2px solid darkgray;
  padding: 4px 10px;
  font-weight: 700;
  background-color: #dde8f1;
  color: black;
  cursor: pointer;
  transition: transform 50ms ease-in;
}
.btn:not(:disabled):active {
  transform: scale(0.92);
}
.btn:focus {
  border-color: maroon;
  outline: none;
}
.btn:disabled {
  background-color: #afadad;
  opacity: 0.4;
  cursor: not-allowed;
}

.row {
  margin-bottom: 10px;
  padding: 5px 10px;
  text-align: start;
}

.adjust-ratio {
  font-size: 10px;
  display: block;
}
.generative-code {
  border: 2px solid #333;
  background-color: #d5d1d1;
  border-radius: 5px;
  color: #242424;
  padding: 5px 10px;
  user-select: all;
  display: inline-block;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 2px solid rgb(2, 150, 196);
}

table a {
  text-decoration: dashed;
}

caption {
  padding: 20px;
  font-style: italic;
  caption-side: top;
  color: #fdfdfd;
  text-align: right;
  letter-spacing: 1px;
  background-color: #5b6467;
  background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
}

thead th {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.9rem;
}

thead th:nth-child(1) {
  width: 20%;
}

thead th:nth-child(2) {
  width: 60%;
}

thead th:nth-child(3) {
  width: 20%;
}

th,
td {
  padding: 10px;
}

tbody tr:nth-child(even) {
  background-color: rgba(190, 51, 255, 0.04);
}

tbody tr:nth-child(odd) {
  background-color: rgba(190, 51, 255, 0.152);
}

tbody tr th,
tbody tr td:not(:last-of-type) {
  border-right: 2px solid rgb(2, 150, 196);
}

/* td {
  letter-spacing: 1px;
} */

tbody td {
  text-align: center;
}

tfoot th {
  text-align: right;
  word-break: break-word;
}
